<div class="container">
    <h2 class="heading">User Management Page</h2>
    <hr style="color: orange;">
    <div class="form-container" [formGroup]="usernameSearchForm">
        <div id="usernameSeachform" class="form-group">
            <label class="form-label" for="usermail">Search:</label>
            <input formControlName="username" id="usermail" type="text" class="form-control" placeholder="search by username" (input)="fetchUsers()">
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>ID</th>
                <th>Username</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of filteredUsers; let i = index">
                <td>{{i+1}}</td>
                <td>{{user?._id}}</td>
                <td>{{user?.username}}</td>
                <td>{{user?.role}}</td>
                <td class="action-buttons">
                    <button class="btn" (click)="initiateUserUpdate(user)">Edit User</button>
                    <button class="btn" (click)="initiateUserDelete(user)">Delete User</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="modal fade" [ngClass]="{'show': showUserFormModal}" [style.display]="showUserFormModal ? 'block' : 'none'">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 *ngIf="wannaUpdateUser" class="modal-title">Update a user account</h3>
                    <h3 *ngIf="wannaDeleteUser" class="modal-title">Delete a user account</h3>
                    <input type="button" class="btn-close" (click)="closeUserFormModal()">
                </div>
                <div class="modal-body">
                    <form [formGroup]="userForm" class="form" (ngSubmit)="updateUser()" [style.display]="!showDeleteUserConfirmation ? 'block' : 'none'">
                        <div *ngIf="!showUpdateUserConfirmation">
                            <div class="form-group">
                                <label for="username" class="form-label"><b>Username:</b></label>
                                <input id="username" formControlName="username" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password" class="form-label"><b>Password:</b></label>
                                <input id="password" formControlName="password" type="password" class="form-control">
                            </div>
                            <div class="form-buttons">
                                <button (click)="confirmUpdate()" type="button" class="submit">Submit</button>
                                <button class="cancel" (click)="closeUserFormModal()">Cancel</button>
                            </div>
                        </div>
                        <div class="update-confirmation" [style.display]="showUpdateUserConfirmation ? 'block' : 'none'">
                            <p><b>Are you sure you want to update this user's information to these below? <em>Please make sure the respective user is aware of this!</em></b></p>
                            <ul>
                                <li><b>Username: </b>{{updatingUser?.username}}</li>
                                <li><b>Password: </b>{{updatingUser?.password}}</li>
                            </ul>
                            <div class="form-buttons">
                                <button type="submit" class="submit" (click)="updateUser()">Yes</button>
                                <button class="cancel" (click)="closeUserFormModal()">No</button>
                            </div>
                        </div>
                    </form>
                    <div class="delete-confirmation" [style.display]="showDeleteUserConfirmation ? 'block' : 'none'">
                        <p><b>Are you sure you want to delete this user? <em>Note that this procedure cannot be undone!</em></b></p>
                        <ul>
                            <li><b>Username: </b>{{deletingUser?.username}}</li>
                            <li><b>Password: </b>{{deletingUser?.password}}</li>
                        </ul>
                        <div class="form-buttons">
                            <button class="submit" (click)="deleteUser()">Yes</button>
                            <button class="cancel" (click)="closeUserFormModal()">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>