/* Ensure the body and html take up full height */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;  /* Full screen height */
}

/* Container for the main content area */
/* .router-outlet-container {
  display: flex;              
  flex-direction: column;     
  flex-grow: 1;               
  background: url('/utg.jpeg') center center/cover;
  background-color: rgb(0 0 0 0.7);
  background-blend-mode: overlay;
} */

.router-outlet-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;   /* For stacking elements */
  
  /* Combine background image and color overlay */
  background: url('/utg.jpeg') center center/cover no-repeat;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent dark overlay */
  background-blend-mode: overlay;  /* Combine image and overlay with overlay effect */
  
  color: white;  /* Ensure text stands out */
  padding: 20px;  /* Optional, for spacing */
}


/* Ensures header and footer remain fixed */


router-outlet {
  flex-grow: 1;               /* Main content area expands with content */
}
