<div class="container">
    <div class="hero text-center">
      <h1 class="display-4 mb-2 mt-2 text-warning"><b>Welcome to UTG's First Digital Election App</b></h1>
      <hr>
      <div class="row mb-4 mt-3">
        <div class="col-12 col-sm-2 col-md-4 col-lg-3 mb-4 mt-4">
          <div class="card bg-orange">
            <img src="/vote-sample1.jpg" alt="electoral process" style="height: 20vh;">
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 mt-4">
          <div class="card bg-orange">
            <img src="/vote-sample3.jpg" alt="electoral process" style="height: 20vh;">
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 mt-4">
          <div class="card bg-orange">
            <img src="/vote-sample5.jpg" alt="electoral process" style="height: 20vh;">
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 mt-4">
          <div class="card bg-orange">
            <img src="/vote-sample4.jpg" alt="electoral process" style="height: 20vh;">
          </div>
        </div>
      </div>
      <!-- <i class="bi bi-shield-lock-fill display-3 text-success">Your one-stop solution for amazing services.</i> -->
      <a href="/login" class="btn btn-lg mb-2 btn-warning mt-5" style="color: orangered; box-shadow: 5px 5px 8px white;"><i class="bi bi-box-arrow-in-right"></i> Login here</a>
    </div>
  
    <div class="features row text-center" style="margin: 3rem auto;">
      <h2 style="color: rgb(255, 157, 0);"><i>You can count on us, because our products are:</i></h2>
      <div class="col-md-4">
        <i class="bi bi-lightbulb-fill display-3">Innovative</i>
        <p><b>We bring creative solutions to your problems.</b></p>
      </div>
      <div class="col-md-4">
        <i class="bi bi-shield-lock-fill display-3">Secure</i>
        <p><b>Your data is safe with us.</b></p>
      </div>
      <div class="col-md-4">
        <i class="bi bi-people-fill display-3">User-Friendly</i>
        <p><b>Designed with you in mind.</b></p>
      </div>
    </div>
  </div>
  