
<footer>
  <div class="footer-container">
    <div class="powered-by">
      <h2>Powered By:</h2>
      <img src="/munaff.png" alt="munaff logo" class="footer-logo">
      <h2 class="italianno-regular">
        <i>
          <span style="color: red">AA</span>-
          <span style="color: white">T</span>
          <span style="color: blue;">E</span>
          <span style="color: white;">C</span>
          <span style="color: green;">H</span>
        </i>
      </h2>
      <h2 class="italianno-regular">
        <i>
          <span>Mom&amp;Dad's-Love</span>
        </i>
      </h2>
      <h2 style="font-family: Bokor;">
        <i>
          <span>Siblings' Supoort</span>
        </i>
      </h2>
    </div>
    <p>&copy; 2024. All Rights Reserved.</p>
  </div>
</footer>
